body {
  background: white;
}
/* Test */
#n2_4 {
	width: 100%;
	height: 100%;
	overflow: visible;
  /*background: rgb(255, 255, 255);*/
}
 
	/* white background */
	#n14_4 {
		/*background: rgb(255, 255, 255);*/
		width: 100%;
		height: 100%;
	}
 
	/* main container */
	#n14_2 {
		width: 960px;
		height: 554px;
		overflow: visible;
    margin: auto;
	}
 
		/* Frame 1 */
		#n14_10 {
			width: 415px;
			height: 490px;
			overflow: hidden;
			left: 545px;
		}
 
			/* awake bg */
			#n1_4 {
				background-image: url("https://s3-alpha-sig.figma.com/img/d8d1/6f76/c985db7dc3929a916aaa710de3fad59c?Expires=1575849600&Signature=gT2o8AteiIOout2RaE0GBgoZ4Kaz2SX-ipk81P-yM~FbDLuSdGCICkJBJBMtbolfBwGYBPBV1D91WhKiPkQxxa0TGeA~imwgamxgttdG0uKHc6YG7dxlOvD9gclfcQTAzPSpRAIZjpQY6KBMfsXzz3d~UCv6ZnzOJqZAYitcV42sOn--QEWmGCTUzC-GJHoTA2fY42bKXcctrEg3kypLIdezZ36UcpKg-4ohVaJLmXfS~1RZx-Ldx-PEYVHpVstiKv9BJ6mq9Yvkgby-9g23A2eHzR5k5llUlULg8fxQGguaJI6qoQeIcOVA7DvxMUeXsnarrTOu0xOstUmgquw8Kg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
				background-repeat: no-repeat;
				border-radius: 0px 40px 40px;
				width: 415px;
				height: 540px;
			}
 
			/* original pic */
			#n1_2 {
				background-image: url("https://s3-alpha-sig.figma.com/img/d410/9b27/5391501aea34b46cb26359026f66ca61?Expires=1575849600&Signature=dzdRuwtVE~aKl2cODR~7EGx4BpgcEgxY7R-tAlevauk7EE0o2JZ68Y3XFRtCpu1KiawVN9vDc-FL3Bcez~YI3Z~unJusrCzdZAtksl5pCqjFyYgGcgfcBIUkQr168o~6ZthLXJMpBt6BtI41VP283xq9le9EWkf0c53fS4RHo9NBXjUclJcPB7QjzljgSVy~kicpwWjLS1CwdTftxL2yuSmR-uyxOLyORAgnxCHt~iPUioUGEFIZeqJuLan1fsbv895DOhm6Zc2h6eqO0RQeaAWlyb73h7MiYhSO6MUbAj2MKe4FsC0EpfRl598Yt5hxwUA46CaAwzTkPnPDiFRYrQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 0px 40px 40px;
				width: 415px;
				height: 540px;
			}
 
			/* body */
			#n2_2 {
				background-image: url("https://s3-alpha-sig.figma.com/img/4957/ef2b/5df9f5f092c9b3012c7b6b3b3429375c?Expires=1575849600&Signature=VkwP1wFPO2vFtFVWPvPUB42yu1uSZEku8BHdqJwnhd3jyjZB89ii9bawQlBCy-HPTBVVlERzGv21pFJG~hdUPI-BytskWixLF5oUWQbGKip6WDD8XdmjAP5lRXKWcfQw3g4hIbHikLacwY3cXeh8JtrWvmyymis6MBIjq2PlHFrxuok6nJLD9fwiRbP10EAzdFXxaYr1FwqWN9-DN3xaI4iIcZQbLcj5JnNyUIUNVhnp10cEZukN0HrjNj5LfiZUvE-wplGUzoUpZWLYJtr9iehvToQT~bAhtjx-8VDSg1Kl0FjGFXIFZNNVM8VP5vlFjn3V9ZtNDxz4A1enKPhyIQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 0px 40px 40px;
				width: 415px;
				height: 539px;
			}
 
		/* coming soon */
		#n14_5 {
			align-items: normal;
			color: rgb(0, 0, 0);
			vertical-align: middle;
			justify-content: flex-start;
			width: 897px;
			transform: translate(0px, 0px);
			line-height: 168.75px;
			height: 166px;
			top: 133px;
      margin-left: 24px;
		}
 
			/* coming soon Subset */
			#n14_5-0 {
				font-family: Helvetica;
				font-size: 144px;
				font-weight: 700;
				line-height: 168.75px;
				letter-spacing: 0px;
				align-items: normal;
        color: rgb(0, 1, 4);
			}
 
			/* coming soon Subset */
			#n14_5-5 {
				/* font-family: Helvetica;
				font-size: 144px;
				font-weight: 700;
				line-height: 168.75px;
				letter-spacing: 0px;
				align-items: normal; */
        position: relative;
				color: rgb(255, 255, 255);
			}
 
		/* Rectangle 1 */
		#n14_18 {
			left: -41px;
			width: 82px;
			top: 463px;
			height: 82px;
		}
